<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <p class="footer-text-left">
            <span class="text-muted">&#169;Ypakp</span>
            <a href="/" class="menu">home</a>
            <a href="https://css.sammy-codes.com/about.html" class="menu">about</a>
            <a href="https://css.sammy-codes.com/credits.html" class="menu">credits</a>
        </p>
    </div>
</footer> -->

<div class="footer-clean" id="footer">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Υπηρεσίες</h3>
                    <ul>
                        <li><a href="/employee">Για εργαζόμενους</a></li>
                        <li><a href="/employer">Για εργοδότες</a></li>
                        <li><a href="/under_construction">Για άνεργους</a></li>
                        <li><a href="/under_construction">Για A.M.E.A.</a></li>
                    </ul>
                </div>
                
                <div class="col-sm-4 col-md-3 item">
                    <h3>Φόρμες</h3>
                    <ul>
                        <li><a href="/employee_profile/leave_form">Άδεια ειδικού σκοπού</a></li>
                        <li><a href="/ministry/rendezvous">Κλείστε ραντεβού</a></li> 
                        <li><a href="/info/info-general/newsletter">Ενημέρωση COVID-19</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Σύνδεσμοι</h3>
                    <ul>
                        <li><a href="#">Πού είμαστε</a></li>
                        <li><a href="https://www.gsis.gr/">TaxisNET</a></li>
                        <li><a href="https://eservices.yeka.gr">ΕΡΓΑΝΗ</a></li>
                        
                    </ul>
                </div>

                <div class="col-lg-3 item social">
                    <i class="icon ion-social-facebook" style="font-size: 24px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    margin-left: 10px;
                    margin-top: 22px;
                    color: inherit;
                    opacity: 0.75;"></i>
                    <i class="icon ion-social-twitter" style="font-size: 24px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    margin-left: 10px;
                    margin-top: 22px;
                    color: inherit;
                    opacity: 0.75;"></i>
                    <p class="copyright">DI © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>

