<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <p class="footer-text-left">
            <span class="text-muted">&#169;Ypakp</span>
            <a href="/" class="menu">home</a>
            <a href="https://css.sammy-codes.com/about.html" class="menu">about</a>
            <a href="https://css.sammy-codes.com/credits.html" class="menu">credits</a>
        </p>
    </div>
</footer>