<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a href="/"><img src="/assets/images/logo.png" width="300" height="60"></a><button data-toggle="collapse"
      class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown"><a class="dropdown nav-link " data-toggle="dropdown" aria-expanded="false"
            href="/under_construction">Υπουργείο </a>
          <div class="dropdown-menu dropdown menu-content">
            <a class="dropdown-item" href="/under_construction">Οργανωτική Δομή</a>
            <a class="dropdown-item" href="/under_construction">Γενική Γραμματεία Κοινωνικής Ασφάλισης</a>
            <a class="dropdown-item" href="/under_construction">Γενική γραμματεία διαχείρισης κοινοτικών και άλλων πόρων</a>
            <a class="dropdown-item" href="/under_construction">Γενική γραμματεία πρόνοιας</a>
            <a class="dropdown-item" href="/under_construction">Σώμα επιθεώρησης εργασίας</a>

          </div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown nav-link " data-toggle="dropdown" aria-expanded="false"
            href="/under_construction">Θέματα </a>
          <div class="dropdown-menu dropdown menu-content">
            <a class="dropdown-item" href="/under_construction">Απασχόληση</a>
            <a class="dropdown-item" href="/under_construction">Κοινωνική Προστασία</a>
            <a class="dropdown-item" href="/under_construction">Εργασιακά</a>
            <a class="dropdown-item" href="/under_construction">Προνοιακά</a>
            <a class="dropdown-item" href="/under_construction">Διεθνή Θέματα</a>

          </div>
        </li>
        <li class="nav-item"><a class="nav-link " href="/ministry/contact">Επικοινωνία</a></li>

        <li class="nav-item"><a class="nav-link " href="#">myypakp</a></li>
        <li class="nav-item"><a class="nav-link " style="color: crimson !important; font-weight: bold;" href="/info/info-general">COVID
            19</a></li>
      </ul>
      <span class="navbar-text actions">
        <% if(!currentUser) {%>
        <a class="btn btn-light action-button" role="button" href="/register" style="background: rgb(30,106,221); margin-right: 5px;">Εγγραφή</a>
        
        <a class="login" href="/login">Σύνδεση</a>
        <%} else {%>
        <a class="login" href="/logout">Αποσύνδεση</a>
        <% } %>
      </span>
    </div>
  </div>
</nav>