<nav class="custom-navbar navbar-expand-md navbar-light bg-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a href="#" style="color: white;" class="nav-link dropdown-toggle custom-nav-item"
            data-toggle="dropdown">Υπουργείο</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Inbox</a>
            <a href="#" class="dropdown-item">Sent</a>
            <a href="#" class="dropdown-item">Drafts</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Θέματα</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Inbox</a>
            <a href="#" class="dropdown-item">Sent</a>
            <a href="#" class="dropdown-item">Drafts</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Οργανισμοί</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Inbox</a>
            <a href="#" class="dropdown-item">Sent</a>
            <a href="#" class="dropdown-item">Drafts</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Νομοθεσία</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Inbox</a>
            <a href="#" class="dropdown-item">Sent</a>
            <a href="#" class="dropdown-item">Drafts</a>
          </div>
        </div>
        <a href="#" style="color: white;" class="nav-item nav-link">Νέα</a>
        <a href="/myypakp.html" style="color: white;" class="nav-item nav-link">My ypakp</a>
        <a href="/info" class="nav-item nav-link" style="color: crimson;"><b>COVID-19</b></a>
      </div>
      <div class="navbar-nav ml-auto">
        <a href="/register" style="color: white;" class="nav-item nav-link">Εγγραφή </a>
        <a href="/login" style="color: white;" class="nav-item nav-link"> Σύνδεση</a>
        <a href="/logout" style="color: white;" class="nav-item nav-link">Αποσύνδεση</a>
        <!-- <a href="/login" style="color: white;" class="nav-item nav-link">
          <h1><i class="fas fa-user-circle"></i></h1>
        </a> -->
      </div>
      <!-- <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button style="color: white;" type="button" class="btn btn-secondary"><i
                class="fa fa-search"></i></button>
          </div>
        </div>
      </form> -->
    </div>
  </nav>