<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<bodyclass="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>
        <h1>EMPLOYER</h1>
    </div>

    <%- include('../partials/footer'); %>
</body>
</html>