<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body class="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Είμαι εργοδότης</li>
                </ol>
            </nav>
        </div>

        <div class="container topMargin40 bottomMargin40">
            <div class="d-flex flex-row justify-content-left">
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-3 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4><b>Γενικές απορίες</b></h4>
                                <ul class="vertical-menu">
                                    <li>Πώς κάνoυν οι υπάλληλοι μου αίτηση άδειας ειδικού σκοπού για γονείς;</li>                                    
                                    <li>Στοιχεία επικοινωνίας Υπουργείου</li>
                                    <li>Νομοθεσία για εξοπλισμό για εργασία από το σπίτι</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card topMargin20">
                            <div class="card-body">
                                <h5><b>Διαχείριση εργαζομένων</b></h5>
                                <span>Το υπουργείο εργασίας και Κοινωνικών Υποθέσεων προσφέρει στους εργοδότες μια νέα
                                    διαδικτυακή διεπαφή για την διαχείριση των εργαζόμενων της εταιρίας ακριβώς εδώ στην
                                    σελίδα του Υπουργείου</span>
                                <a href="/employerProfile/employer" class="btn btn-primary topMargin20">ΜΕΤΑΒΑΣΗ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-vaccine.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Άνοιξε η ψηφιακή πλατφόρμα δήλωσης του εμβολιασμού
                                        </h2>
                                        <p class="mb-0">
                                            Η κυβέρνηση ανακοίνωσε πως έχει ανεβεί στο Διαδίκτυο η νέα ψηφιακή πλατφόρμα
                                            με την οποία μπορούν οι πολίτες να επιλέξουν μία από τις διαθέσιμες ημέρες
                                            και να κλείσουν ραντεβού στο απαραίτητο ιατρικό κέντρο για να λάβουν το
                                            εμβόλιο. Περισσότερες πληροφορίες στον σύνδεσμο <a
                                                href="https://emvolio.gov.gr/"
                                                target="_blank">https://emvolio.gov.gr/</a>
                                        </p>
                                    </div>
                                </div>


                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-regeneration.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Το ReGeneration Greece επιστρέφει για άλλη μια χρονιά
                                        </h2>
                                        <p class="mb-0">
                                            Η Regeneration ξεκινά τον
                                            επόμενο μήνα τον 2ο κύκλο συμβούλευσης και εκπαίδευσης για την περίοδο
                                            2020-2021. Για να μάθετε περισσότερες πληροφορίες για το πρόγραμμα αυτό και
                                            για το πως να συνεργαστείτε μαζί τους, μεταβείτε στον σύνδεσμο :
                                            <a href="https://www.regeneration.gr/"
                                                target="_blank">https://www.regeneration.gr/</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-office-masks.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Ενημερωτικό γράφημα για την εργασία μέσα στην πανδημία
                                        </h2>
                                        <p class="mb-0">
                                            Το υπουργείο Υγείας έχει συνθέσει ένα απλό και ευκατανόητο γράφημα με
                                            οδηγίες με τις απαραίτητες δράσεις πρόληψης για να μπορείτε να δουλεύετε εν
                                            μέσω της πανδημίας του COVID-19. Περισσότερες πληροφορίες <a
                                                href="/assets/images/ΙΑΤΡΙΚΕΣ_ΟΔΗΓΙΕΣ_flowchart_1.jpg"
                                                target="_blank">εδώ</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>