<!doctype html>
<html lang="gr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- <link rel="stylesheet" href="/styles/information.css"> -->

    <title>Υπουργείο Εργασίας & Κοινωνικών Υποθέσεων</title>
</head>

<body>
    <div class="container">
        <div class="container topMargin20 bottomMargin20">
            <nav class="custom-navbar navbar-expand-md navbar-light bg-light">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav">
                    <div class="nav-item dropdown">
                      <a href="#" style="color: white;" class="nav-link dropdown-toggle custom-nav-item"
                        data-toggle="dropdown">Υπουργείο</a>
                      <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                      </div>
                    </div>
                    <div class="nav-item dropdown">
                      <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Θέματα</a>
                      <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                      </div>
                    </div>
                    <div class="nav-item dropdown">
                      <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Οργανισμοί</a>
                      <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                      </div>
                    </div>
                    <div class="nav-item dropdown">
                      <a href="#" style="color: white;" class="nav-link dropdown-toggle" data-toggle="dropdown">Νομοθεσία</a>
                      <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                      </div>
                    </div>
                    <a href="#" style="color: white;" class="nav-item nav-link">Νέα</a>
                    <a href="/myypakp.html" style="color: white;" class="nav-item nav-link">My ypakp</a>
                    <a href="/information/info.html" class="nav-item nav-link" style="color: crimson;"><b>COVID-19</b></a>
                  </div>
                  <div class="navbar-nav">
                    <a href="/login.html" style="color: white;" class="nav-item nav-link">
                      <h1><i class="fas fa-user-circle"></i></h1>
                    </a>
                  </div>
                  <form class="form-inline">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-append">
                        <button style="color: white;" type="button" class="btn btn-secondary"><i
                            class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </nav>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Είμαι εργοδότης</li>
                </ol>
            </nav>
        </div>

        <div class="container topMargin40 bottomMargin40">
            <div class="d-flex flex-row justify-content-around">
                <div class="p-2">
                    <div class="card" style="width: 1110px; height:1000px;">
                        <span class="topMargin20" style="text-align: center;font-size: 30px;">
                            <b>Εδώ υπάρχουν πληροφορίες για εσένα και την επιχείρηση σου</b>
                        </span>
                        <div class="card-body" style="text-align: center;">
                            <form action="">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>Όνομα</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΜΗΤΣΟΣ</span>
                                                </div>
                                                <div class="col">
                                                    <span>Επίθετο</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΝΤΟΥΛΑΣ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>Όνομα Πατρός</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΜΑΚΗΣ</span>
                                                </div>
                                                <div class="col">
                                                    <span>Όνομα Μητρός</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΤΖΕΝΗ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>ΑΦΜ</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">1548864</span>
                                                </div>
                                                <div class="col">
                                                    <span>ΑΜΚΑ</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">7895424984</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>Τηλέφωνο</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">69589415</span>
                                                </div>
                                                <div class="col">
                                                    <span>Ηλεκτρονική Διεύθυνση</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">christos@di.uoa.gr</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>Όνομα επιχείρησης</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΜΑΡΟΥΛΑΚΙΑΣ ΑΕ</span>
                                                </div>
                                                <div class="col">
                                                    <span>ΑΦΜ επιχείρησης</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">145587525715</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>Διακριτικός τίτλος</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΜΑΡΟΥΛΑΚΙΑΣ</span>
                                                </div>
                                                <div class="col">
                                                    <span>Αντικείμενο</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">Αγροτικά προιόντα</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group topMargin40">
                                            <div class="row">
                                                <div class="col">
                                                    <span>ΔΟΥ</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">ΦΑΕ ΑΘΗΝΩΝ</span>
                                                </div>
                                                <div class="col">
                                                    <span>ΑΜΕ</span>
                                                </div>
                                                <div class="col">
                                                    <span class="border padding10">7894</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-group topMargin20">
                                            <div class="row">
                                                <div class="col" style="text-align: center;">
                                                    <a class="btn-lg btn-info" href="/employer/employer-staff.html" role="button">Οι υπάλληλοι μου</a>
                                                </div>
                                            </div>
                                        </div>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container topMargin40 bottomMargin40">
                <div class="d-flex flex-row justify-content-around">
                </div>
            </div>

        </div>

        <!-- <div class="footer">
        <p>Footer</p>
    </div> -->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <script src="/scripts/main.js" type="text/javascript"></script>
</body>

</html>