<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Είμαι εργαζόμενος</li>
                </ol>
            </nav>
        </div>
        
        <h1>EMPLOYER</h1>
    </div>

    <%- include('../partials/footer'); %>
</body>
</html>