
<!doctype html>
<html lang="gr">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/leave-form.css">
</head>

<body class="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Είμαι εργαζόμενος</li>
                </ol>
            </nav>
        </div>


    <div class="card text-center">
        <div class="card-header">
            Pinned
        </div>
        <div class="card-body">
            <h5 class="card-title">Άδεια ειδικού σκοπού για γονείς</h5>
            <p class="card-text">Αφορά σε εργαζόμενους γονείς παιδιών που είναι εγγεγραμμένα σε βρεφικούς, βρεφονηπιακούς και παιδικούς σταθμούς ή 
            φοιτούν σε σχολικές μονάδες υποχρεωτικής εκπαίδευσης (δηλαδή μέχρι και το Γυμνάσιο) ή φοιτούν σε ειδικά σχολεία η 
            σχολικές μονάδες ειδικής αγωγής, καθώς και σε εργαζόμενους γονείς ατόμων με αναπηρία, οι οποίοι δικαιούνται να λάβουν
            την εν λόγω ειδική άδεια σε περίπτωση αναστολής λειτουργίας, καθώς και αναστολής της δια ζώσης εκπαιδευτικής λειτουργίας 
            μονάδων/δομών παροχής φροντίδας ή εκπαίδευσης, ή/και τμημάτων αυτών στο πλαίσιο αντιμετώπισης και περιορισμού της διάδοσης
            του κορωνοϊού COVID-19.</p>
            <a href="/employee_profile/leave_form" class="btn btn-primary">Δήλωση τώρα</a>
        </div>
        <div class="card-footer text-muted">
            2 ήμερες πριν
        </div>
    </div>

    
        <div class="container topMargin40 bottomMargin40">
            <div class="d-flex flex-row justify-content-left">
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-3 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4><b>Σας ενδιαφέρει</b></h4>
                                <ul class="vertical-menu">
                                    <li><a href="#">Φόρμα μετακίνησης εργαζομένου</a></li>
                                    <li><a href="#">Δικαιώματα εργαζομένων από απόσταση</a></li>
                                    <li><a href="#">Οδηγίες για νέους εργαζομένους</a></li>
                                    <li><a href="#">Κανόνες απασχόλησης για ωρομίσθιους</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card topMargin20">
                            <div class="card-body">
                                <h5><b>Το προφίλ εργαζομένου</b></h5>
                                <span>Το υπουργείο εργασίας και Κοινωνικών Υποθέσεων, παρέχει για όλους τους εργαζόμενους πληροφορίες σχετικά με το προφίλ τους και νέες Online υπηρεσίες. Όλα αυτά με έναν λογαριασμό!</span>
                                <a href="/register" class="btn btn-primary topMargin20">Σύνδεσου τώρα</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/menoume_asfaleis_back.png" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Θάνατος από COVID-19  ;
                                        </h2>
                                        <p class="mb-0">
                                            Το υπουργείο Εργασίας εξετάζει το ενδεχόμενο να αναγνωριστεί ο νέος κορωνοϊός ως παράγοντας κινδύνου για την υγεία των εργαζομένων, προκειμένου να θεωρηθεί εργατικό ατύχημα ο θάνατος από τη νόσο Covid-19. Αυτό δήλωσε από το βήμα της Βουλής ο υφυπουργός Κοινωνικής Ασφάλισης
                                            
                                        </p>
                                    </div>
                                </div>

                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/remote-work.png" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                           Υποχρεωτική Τηλεργασία
                                        </h2>
                                        <p class="mb-0">
                                            Με νέα υπουργική απόφαση ορίζεται πως παρατείνεται το ισχύον πλαίσιο – όπως ακριβώς ισχύει και σήμερα – έως 31 Ιανουαρίου για την υποχρεωτική τηλεργασία σε όλη την Ελλάδα. 
                                        </p>
                                    </div>
                                </div>

                                <div class="row topMargin40">
                                    <div class="col-sm-4">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/giving-money.png" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2 class="mb-2 font-weight-600">
                                            Επίδομα στήριξης 580€
                                        </h2>
                                        <p class="mb-0">
                                            Για το έκτακτο επίδομα των 534 ευρώ του Ιανουραρίου, ο υπουργός δήλωσε ότι αυτά θα τα λάβουν όλοι όσοι βρίσκονται σε αναστολή σύμβασης εργασίας.
                                            "Τα 534 ευρώ θα τα πάρουν όλοι ανεξαιρέτως οι οποίοι βρίσκονται σε αναστολή σύμβασης εργασίας, και όλος αυτός ο κόσμος θα τα πάρει πάλι αναλογικά με τις 
                                            μέρες που θα βρίσκεται στην έναρξη δραστηριότητας της επιχείρησης", έγραψε σε πρόσφατη του ανακοίνωση.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <%- include('../partials/footer'); %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/scripts/main.js" type="text/javascript"></script>
</body>

</html>