<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="d-flex flex-column vh-100 ">
    <div class="containter">
        <div class="topMargin20 bottomMargin20">
            <%- include('partials/navbar'); %>
        </div>
        <h1>Coming soon</h1>
    </div>  

    <%- include('partials/footer'); %>
</body>
</html>