<!doctype html>
<html lang="gr">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/information.css">
</head>

<body class="d-flex flex-column vh-100">
    <div class="container">
        <div class=" topMargin20 bottomMargin20">
            <%- include('../partials/navbar'); %>
        </div>

        <div class="container topMargin20 bottomMargin20">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Κέντρο Πληροφοριών COVID-19</li>
                </ol>
            </nav>
        </div>

        <div class="container topMargin40 bottomMargin40">
            <div class="d-flex flex-row justify-content-left">
                <div class="row" data-aos="fade-up">
                    <div class="col-lg-3 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4><b>Γενικές απορίες</b></h4>
                                <ul class="vertical-menu">
                                    <li><a href="/employee/petition.html">Πώς κάνω αίτηση άδειας ειδικού σκοπού για
                                            γονείς;</a></li>
                                    <li><a href="/ministry/rendezvous">Πώς κλείνω ραντεβού σε μια δημόσια υπηρεσία;</a>
                                    </li>
                                    <li><a href="/ministry/contact">Στοιχεία επικοινωνίας Υπουργείου</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card topMargin20">
                            <div class="card-body">
                                <h5><b>Ενημερωτικό δελτίο COVID-19</b></h5>
                                <span>Το υπουργείο εργασίας και Κοινωνικών Υποθέσεων παρέχει ένα ενημερωτικό δελτίο
                                    αποκλειστικά με τις τελευταίες εξελίξεις και κυβερνητικές αποφάσεις σχετικά με τον
                                    COVID-19</span>
                                <a href="/info/info-general/newsletter" class="btn btn-primary topMargin20">ΔΗΛΩΣΗ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-vaccine.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Άνοιξε η ψηφιακή πλατφόρμα δήλωσης του εμβολιασμού
                                        </h2>
                                        <p class="mb-0">
                                            Η κυβέρνηση ανακοίνωσε πως έχει ανεβεί στο Διαδίκτυο η νέα ψηφιακή πλατφόρμα
                                            με την οποία μπορούν οι πολίτες να επιλέξουν μία από τις διαθέσιμες ημέρες
                                            και να κλείσουν ραντεβού στο απαραίτητο ιατρικό κέντρο για να λάβουν το
                                            εμβόλιο. Περισσότερες πληροφορίες στον σύνδεσμο <a
                                                href="https://emvolio.gov.gr/" target="_blank">https://emvolio.gov.gr/</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="row topMargin40">
                                    <div class="col-sm-4 grid-margin">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-office-masks.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8  grid-margin">
                                        <h2 class="mb-2 font-weight-600">
                                            Ενημερωτικό γράφημα για την εργασία μέσα στην πανδημία
                                        </h2>
                                        <p class="mb-0">
                                            Το υπουργείο Υγείας έχει συνθέσει ένα απλό και ευκατανόητο γράφημα με
                                            οδηγίες με τις απαραίτητες δράσεις πρόληψης για να μπορείτε να δουλεύετε εν
                                            μέσω της πανδημίας του COVID-19. Περισσότερες πληροφορίες <a
                                                href="/assets/images/ΙΑΤΡΙΚΕΣ_ΟΔΗΓΙΕΣ_flowchart_1.jpg"
                                                target="_blank">εδώ</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="row topMargin40">
                                    <div class="col-sm-4">
                                        <div class="position-relative">
                                            <div class="rotate-img">
                                                <img src="/assets/images/pexels-virus-info.jpg" alt="thumb"
                                                    class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2 class="mb-2 font-weight-600">
                                            Χάρτης υγιειονομικού κινδύνου
                                        </h2>
                                        <p class="mb-0">
                                            Μετά τις γιορτές των Χριστουγέννων και της Πρωτοχρονιάς έχουν αλλάξει τα
                                            δεδομένα της διασποράς του κορονοιού. Για να είστε ενημερωμένοι,
                                            συμβουλευτείτε τον <a
                                                href="/assets/images/eody_ekthesi_xartis_gr.jpg" target="_blank">επυσυναπτόμενο
                                                χάρτη</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <%- include('../partials/footer'); %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/scripts/main.js" type="text/javascript"></script>
</body>

</html>