.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.topMargin10 {
    margin-top: 10px;
}

.topMargin20 {
    margin-top: 20px;
}

.topMargin40 {
    margin-top: 40px;
}

.bottomMargin20 {
    margin-bottom: 20px;
}

.bottomMargin40 {
    margin-bottom: 40px;
}

body {
    background-image: url("/assets/images/dot-grid.png");
    background-repeat: repeat;
}

.textbox {
    background-color: rgba(255, 255, 255, 0.596);
    padding: 15px;
    position: absolute;
    top: 250px;
    left: 500px;
    line-height: 0.7;
}

.custom-navbar {
    list-style-type: none;
    display: flex;
    padding: 18px 18px;
    background-size: 100% 100%;
    font-weight: bold;
    background: #0f76c5d0 !important;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0%;
}

.custom-navbar i {
    color: azure !important;
}

.custom-nav-item a {
    color: white !important;
    text-decoration: none;
    /* padding: 45px 45px; */
    /* font-color: #fff ; */
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    /* font-size: 20px; */
    letter-spacing: 1px;
    opacity: 0.9;
}
/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(90, 105, 107, 0.438);
    color: white;
    text-align: center;
} */

.footer-text-left {
    font-size:25px;
    padding-left:40px;
    float:left;
    word-spacing:20px;
}

/* a.menu:hover {
    font-size:24px;
    color: rgb(185, 102, 102);
} */

/* img {
    object-fit: contain !important;
} */

/* NEW NAVBAR MIKE 16.01.2021 START */


.contact-clean,
.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}
.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.contact-clean h2 {
  margin-top: 5px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}
.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}
.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: 0;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}
.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}
.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}
.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: 0 0;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: 0 !important;
}
.contact-clean form .btn:hover,
.footer-clean ul a:hover,
.highlight-blue .buttons .btn:hover,
.highlight-phone .intro .btn:hover,
.team-boxed .social a:hover {
  opacity: 1;
}
.contact-clean form .btn:active,
.highlight-blue .buttons .btn:active,
.highlight-phone .intro .btn:active,
.register-photo form .btn-primary:active {
  transform: translateY(1px);
}
.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
.features-boxed,
.team-boxed,
.testimonials-clean {
  /* color: #313437;
  background-color: #eef4f7; */
}
.features-boxed p,
.highlight-phone p,
.projects-horizontal p,
.team-boxed p,
.testimonials-clean p {
  color: #7d8285;
}
.features-boxed h2,
.projects-horizontal h2,
.team-boxed h2,
.testimonials-clean h2 {
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}
.features-boxed .intro,
.team-boxed .intro,
.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.features-boxed .intro p,
.team-boxed .intro p,
.testimonials-clean .intro p {
  margin-bottom: 0;
}
.features-boxed .features,
.team-boxed .people {
  padding: 50px 0;
}
.features-boxed .item,
.highlight-blue .buttons,
.team-boxed .item {
  text-align: center;
}
.features-boxed .item .box,
.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}
.features-boxed .item .icon {
  font-size: 60px;
  /* color: #1485ee; */
  margin-top: 20px;
  margin-bottom: 35px;
}
.features-boxed .item .name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}
.features-boxed .item .description,
.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.footer-clean {
  padding: 60px 0;
  /* background-color: #fff; */
  /* color: #4b4c4d; */
}
.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
}
.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-clean .item.social {
  text-align: right;
}
@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}
.footer-clean .item.social > a:hover {
  opacity: 0.9;
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
.highlight-blue {
  color: #fff;
  background-color: #1e6add;
  padding: 50px 0;
}
.highlight-blue p {
  color: #c4d5ef;
  line-height: 1.5;
}
.highlight-blue h2 {
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}
.highlight-blue .intro,
.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}
.highlight-blue .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: 0 0;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}
.btn.btn-primary.edit,
.highlight-blue .buttons .btn-primary,
.highlight-blue .buttons .btn-primary:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 24px;
  background: 0 0;
  transition: background-color 0.25s;
}
.highlight-phone {
  color: #313437;
  background-color: #eef4f7;
  padding: 50px 0 55px;
  overflow: hidden;
}
.highlight-phone h2 {
  font-weight: 700;
  margin-bottom: 35px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}
.highlight-phone .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}
.highlight-phone .intro p,
.newsletter-subscribe .intro p {
  margin-bottom: 35px;
}
.highlight-phone .intro .btn,
.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: 0 0;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}
.highlight-phone .intro .btn-primary {
  background-color: #055ada;
  color: #fff;
}
.highlight-phone .phone-mockup {
  position: relative;
  max-width: 260px;
  margin-top: -30px;
  margin-bottom: -230px;
  transform: rotate(-15deg);
}
.highlight-phone .phone-mockup img.device {
  width: 100%;
  height: auto;
}
.highlight-phone .phone-mockup .screen {
  position: absolute;
  width: 94%;
  height: 91%;
  top: 1%;
  left: 3%;
  border: 1px solid #444;
  border-radius: 20px;
  overflow: hidden;
  background: url(../../assets/img/screen-content-phone.jpg) center/cover;
  z-index: -1;
}
.highlight-phone .phone-mockup .screen:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -6%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}
.navigation-clean-button {
  background: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}
.navigation-clean-button .navbar-brand {
  font-weight: 700;
  color: inherit;
}
.navigation-clean-button .navbar-brand:hover {
  color: #222;
}
.navigation-clean-button.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}
.navigation-clean-button .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}
.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
  color: #888;
}
.navigation-clean-button .navbar-toggler:focus,
.navigation-clean-button .navbar-toggler:hover {
  background: 0 0;
}
.navigation-clean-button.navbar-dark .navbar-toggler {
  border-color: #555;
  color: #eee;
}
.navigation-clean-button .form-inline,
.navigation-clean-button .navbar-collapse {
  border-top-color: #ddd;
}
.navigation-clean-button.navbar-dark .form-inline,
.navigation-clean-button.navbar-dark .navbar-collapse {
  border-top-color: #333;
}
.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
  background: 0 0;
  box-shadow: none;
}
.navigation-clean-button.navbar-dark .navbar-nav a.active,
.navigation-clean-button.navbar-dark .navbar-nav a.active:focus,
.navigation-clean-button.navbar-dark .navbar-nav a.active:hover,
.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: 0 0;
  pointer-events: none;
}
.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}
.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}
.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}
.navigation-clean-button .dropdown-menu .dropdown-item,
.navigation-clean-button .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: rgb(0, 163, 222); /* afto einai gia to backgorund otan kanoume hover sta dropdown tou nav */
  color: inherit;
}
.navigation-clean-button.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}
.navigation-clean-button.navbar-dark .actions .login,
.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}
.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: transparent;
}
.navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus {
  color: #f2f5f8;
}
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}
.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}
.navigation-clean-button.navbar-dark .actions .login:hover,
.text-center.edit {
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
  background: #047070;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}
.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7;
}
.navigation-clean-button.navbar-dark .action-button,
.navigation-clean-button.navbar-dark .action-button:active {
  background: #208f8f;
}
.navigation-clean-button.navbar-dark .action-button:hover {
  background: #269d9d;
}
.newsletter-subscribe {
  color: #313437;
  padding: 50px 0;
}
.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5;
}
.newsletter-subscribe h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}
.newsletter-subscribe form {
  justify-content: center;
}
.newsletter-subscribe form .form-control {
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px;
}
.newsletter-subscribe form .btn:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}
.newsletter-subscribe form .btn:active {
  transform: translateY(1px);
  background: rgba(0, 0, 0, 0.05);
}
.newsletter-subscribe form .btn-primary {
  color: #fff;
  outline: 0 !important;
  background: rgba(0, 0, 0, 0);
}
.projects-horizontal {
  color: #313437;
  background-color: #fff;
}
.projects-horizontal .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px;
}
.projects-horizontal .projects {
  padding-bottom: 40px;
}
.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
}
.projects-horizontal .item .name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
  color: inherit;
}
.projects-horizontal .item .description,
.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}
.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../../assets/img/meeting.jpg) 0 0 / cover;
}
.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #fff;
  padding: 40px 60px;
  color: #505e6c;
}
@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
  .register-photo form {
    padding: 40px;
  }
}
.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}
.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}
.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: 0 !important;
}
.register-photo form .btn-primary:active,
.register-photo form .btn-primary:hover {
  background: #eb3b60;
}
.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}
.newsletter-subscribe {
  background-color: #1e6add;
}
.team-boxed .item .name {
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}
.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: 700;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}
.team-boxed .item img {
  max-width: 160px;
}
.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}
.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
  .contact-clean form {
    padding: 30px;
  }
  .features-boxed h2,
  .projects-horizontal h2,
  .team-boxed h2,
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
  .highlight-phone {
    text-align: center;
  }
  .highlight-phone .intro {
    max-width: none;
  }
  .navigation-clean-button .navbar-nav .show .dropdown-menu {
    box-shadow: none;
  }
  .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1;
  }
  .navigation-clean-button.navbar-dark
    .navbar-nav
    .show
    .dropdown-menu
    .dropdown-item {
    color: #fff;
  }
  .projects-horizontal .item {
    padding-top: 40px;
    min-height: 160px;
  }
}
.testimonials-clean .people {
  padding: 50px 0 20px;
}
.testimonials-clean .item {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .testimonials-clean .item {
    height: 220px;
  }
}
.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}
.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}
.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}
.testimonials-clean .item .name {
  font-weight: 700;
  margin-bottom: 2px;
  color: inherit;
}
.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}
.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

/* .menu-content .dropdown-item:hover {
  visibility: visible;
  opacity: 1;
  display: block;
} */


/* NEW NAVBAR MIKE 16.01.2021 END */