body{
   background-color: #dee9ff;
}

.rendezvous-form{
  padding: 50px 0;
}

.from-till {
   margin: 50%;
   font-weight: 200;
   font-family: sans-serif;
}
.rendezvous-form form{
   background-color: #fff;
   max-width: 600px;
   margin: auto;
   padding: 50px 70px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.rendezvous-form .form-icon{
  text-align: center;
   background-color: #5891ff;
   border-radius: 50%;
   font-size: 40px;
   color: white;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-bottom: 50px;
   line-height: 100px;
}

.rendezvous-form .item{
  border-radius: 20px;
   margin-bottom: 25px;
   padding: 10px 20px;

}

.rendezvous-form .create-account{
   border-radius: 30px;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   background-color: #5791ff;
   border: none;
   color: white;
   margin-top: 20px;
}